<section id="title" class="plain-paper-bg justified">
    <h1 class="header-item">
        <img src="./assets/magnifying_glass.png" alt="Logo test" draggable="false" />
        <span>Jeu</span> des différences
    </h1>
    <img class="top left" src="./assets/adhesive_tape.png" draggable="false" />
    <img class="top right" src="./assets/adhesive_tape.png" draggable="false" />
    <img class="bottom left" src="./assets/adhesive_tape.png" draggable="false" />
    <img class="bottom right" src="./assets/adhesive_tape.png" draggable="false" />
</section>
<app-post-it class="reenie" name="Temps limité" (click)="requestUsername()" style="background-color: #ff7faf; left: 710px; top: 380px"></app-post-it>
<app-post-it
    class="reenie"
    name="Classique"
    color="#FCDB00"
    routerLink="/classic"
    style="background-color: #fcdb00; left: 433px; top: 540px"
></app-post-it>
<app-post-it
    class="reenie"
    name="Configuration"
    color="#67EAE5"
    routerLink="/config"
    style="background-color: #67eae5; left: 733px; top: 650px"
></app-post-it>
<div id="team_display" class="plain-paper-bg">
    <p>
        Par l'équipe 205: <br />Alexandre Plante, <br />Astir Tadrous, <br />Jeremy Rouillard, <br />Lucas Bouchard, <br />Ryan Lahbabi & <br />Zarine
        Amy Ardekani-Djoneidi
    </p>
    <img class="top left" src="./assets/adhesive_tape.png" draggable="false" />
    <img class="top right" src="./assets/adhesive_tape.png" draggable="false" />
    <img class="bottom left" src="./assets/adhesive_tape.png" draggable="false" />
    <img class="bottom right" src="./assets/adhesive_tape.png" draggable="false" />
</div>
<img id="giant_image" src="./assets/giant_magnifier.png" alt="Loupe géante" draggable="false" />
